<div class="modal-header">
  <h3 class="modal-title text-center">新增交易</h3>
</div>
<div class="modal-body">
    
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">商户</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{currentEmploye.merchant.name}}</p>
      </div>
      <label class="col-sm-2 control-label">门店</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{currentEmploye.shop.name}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">经手</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{entity.seller.name}}</p>
      </div>
      <label class="col-sm-2 control-label">顾客</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{entity.memberSettlement | billOwner}}</p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">流水号</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{entity.serialNumber}}</p>
      </div>
    </div>
    
    <a ng-click="showItems()" class="btn"><i class="fa fa-plus"></i> 新增 </a>
    
    <div class="form-group">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>零售价</th>
              <th>成交价</th>
              <th>数量</th>
              <th class="text-right">小计</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in entity.items">
              <td>{{item.item.id}}</td>
              <td>{{item.item.name}}</td>
              <td>{{item.item.price/100 | currency: '￥'}}</td>
              <td>{{item.dealPrice/100 | currency: '￥'}}</td>
              <td>{{item.quantity}}</td>
              <td class="text-right">{{item.quantity*item.dealPrice/100 | currency: '￥'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>总计</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{entity.quantity}}</td>
              <td class="text-right">{{entity.fee/100 | currency: '￥'}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <div class="col-xs-12" data-ng-show="alerts.length">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-primary btn-lg" ng-click="tryCreate()">新增交易</button>
    <button class="btn btn-warning btn-lg" ng-click="cancel()">取消</button>
  </div>
</div>

<script id="deal-add-item-list.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title text-center">选择商品</h3>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>零售价</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entity in entities" ng-class="{'success': entity.isChecked}" ng-click="entity.isChecked = !entity.isChecked" class="clcikable">
          <td>{{entity.name}}</td>
          <td>{{entity.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-sm-12">
      <button class="btn btn-primary btn-lg" ng-click="confirm()">确定</button>
      <button class="btn btn-warning btn-lg" ng-click="cancel()">取消</button>
    </div>
  </div>
</script>