<div class="row" ng-controller="DealsCtrl" ng-init='init()'>
  <div class="widget">
    <div class="widget-header">
      <div class="col-md-2">
        <i class="fa fa-lg fa-th-list"></i> 交易
        <a ng-click="showCreate()" class="btn"><i class="fa fa-plus"></i> 新增 </a>
      </div>
      <div class="col-md-10">
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-refresh"></i> 刷新 </a>
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-search"></i> 搜索 </a>
        <input type="text" placeholder="Search" class="form-control input-sm pull-right" ng-model="search.text" ui-keypress="{ 13 : 'fetch()' }" />
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-body no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>流水号</th>
              <th>金额</th>
              <th>数量</th>
              <th>账单号</th>
              <th>设备ID</th>
              <th>顾客</th>
              <th class="text-center">商户</th>
              <th class="text-center">门店</th>
              <th>经手人</th>
              <th class="text-right">创建时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entity in entities" ng-click="showDetail(entity)" class="clcikable">
              <td>{{entity.id}}</td>
              <td>{{entity.serialNumber}}</td>
              <td>{{entity.fee/100 | currency: '￥'}}</td>
              <td>{{entity.quantity}}</td>
              <td>{{entity.bill.billNumber}}</td>
              <td>{{entity.deviceID}}</td>
              <td>{{entity.bill.memberSettlement | billOwner}}</td>
              <td class="text-center">{{entity.merchant.name}}</td>
              <td class="text-center">{{entity.shop.name}}</td>
              <td>{{entity.seller.name}}</td>
              <td class="text-right">{{entity.createdAt | dateFormat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>