<div class="row" ng-controller="ItemsCtrl" ng-init='init()'>
  <div class="widget">
    <div class="widget-header">
      <div class="col-md-2">
        <i class="fa fa-lg fa-barcode"></i> 商品
        <a ng-click="showCreate()" class="btn"><i class="fa fa-plus"></i> 新增 </a>
      </div>
      <div class="col-md-10">
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-refresh"></i> 刷新 </a>
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-search"></i> 搜索 </a>
        <input type="text" placeholder="Search" class="form-control input-sm pull-right" ng-model="search.text" ui-keypress="{ 13 : 'fetch()' }" />
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-body no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>商品名</th>
              <th>编码</th>
              <th>助记码</th>
              <th>价格</th>
              <th>状态</th>
              <th class="text-center">商户</th>
              <th>产品型号</th>
              <th class="text-right">创建时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entity in entities">
              <td>{{entity.id}}</td>
              <td>{{entity.name}}</td>
              <td>{{entity.code}}</td>
              <td>{{entity.mnemonicCode}}</td>
              <td>{{entity.price/100 | currency: '￥'}}</td>
              <td>{{entity.status | uppercase}}</td>
              <td class="text-center">{{entity.merchant.name}}</td>
              <td>{{entity.reason}}</td>
              <td class="text-right">{{entity.createdAt | dateFormat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>