<div class="row" ng-controller="MembersCtrl" ng-init='init()'>
  <div class="widget">
    <div class="widget-header">
      <div class="col-md-2">
        <i class="fa fa-lg fa-users"></i> 会员
        <a ng-click="create()" class="btn"><i class="fa fa-plus"></i> 新增 </a>
      </div>
      <div class="col-md-10">
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-refresh"></i> 刷新 </a>
        <a ng-click="fetch()" class="pull-right btn"><i class="fa fa-search"></i> 搜索 </a>
        <input type="text" placeholder="Search" class="form-control input-sm pull-right" ng-model="search.text" ui-keypress="{ 13 : 'fetch()' }" />
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-body no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>姓名</th>
              <th>编号</th>
              <th>电话</th>
              <th class="text-center">商户</th>
              <th>状态</th>
              <th class="text-right">创建时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entity in enitities">
              <td>{{entity.id}}</td>
              <td>{{entity.name}}</td>
              <td>{{entity.code}}</td>
              <td>{{entity.phone}}</td>
              <td class="text-center">{{entity.merchant.name}}</td>
              <td>{{entity.status | uppercase}}</td>
              <td class="text-right">{{dateFormat(entity.createdAt)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>