<div class="modal-header">
  <h3 class="modal-title text-center">新增雇员</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">商户</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{currentEmploye.merchant.name}} - {{currentEmploye.shop.name}}</p>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="请输入名字" ng-model="entity.name">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="请输入工号" ng-model="entity.jobNumber">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="请输入联系电话" ng-model="entity.phone">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="请输入身份证号" ng-model="entity.idcard">
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="col-xs-12" data-ng-show="alerts.length">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-primary btn-lg" ng-click="tryCreate()">新增雇员</button>
    <button class="btn btn-warning btn-lg" ng-click="cancel()">取消</button>
  </div>
</div>
